* {
    margin: 0px;
    padding: 0px;
}

#header {
    height: 160px;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: rgba(175, 244, 247, 0.446);
h1{
    margin-left: %;
}
    h3{
        color: black;
    }

}

#header-button {
    margin-left: 20px;
    height: 65%;
    background-color: #ccc;
    border: 5px solid grey;
    border-radius: 10px;
    font-size: 10px;
}

#header-button:hover {
    margin-left: 20px;
    height: 65%;
    background-color:green;
    border: 5px solid red;
    border-radius: 10px;
    font-size: 10px;
}