* {
    margin: 0px;
    padding: 0px;
}

#header {
    height: 150px;
    text-align: center;
    border-bottom: 2px solid black;



    h1{
        margin-left: 50%;
    }
}

#r

#a-header {
    border: 5px solid red;
    font-size: 10px;
}