* {
    margin: 0px;
    padding: 0px;
}


rheader {
    height: 150px;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: rgba(175, 244, 247, 0.446);

    h1{
        
    }
}

#header-button {
    margin-left: 20px;
    height: 65%;
    background-color: #ccc;
    border: 5px solid red;
    border-radius: 10px;
    font-size: 10px;
}