* {
    margin: 0px;
    padding: 0px;
}

#header {
    text-align: center;
    border-bottom: 2px solid black;

    #a-header {
        border: 5px solid red;
        font-size: 10px;
    }

    h1{
        margin-left: %;
    }
}